* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url('../img/canvas-texture-paper.jpg');
    color: #1E2835;
    font-size: 1.5em;
    height: 100%;
}

#main {
    height: 100%;
}

.headline {
    margin: 0.5em;
    text-align: center;   
}

.logo {
    height: 5em;
    -moz-box-shadow:    1px 1px 1px 2px #C7CACD;
    -webkit-box-shadow: 1px 1px 1px 2px #C7CACD;
    box-shadow:         1px 1px 1px 2px #C7CACD;
}

.hero { 
}

.signIn {
    margin: 2em;
}

.signIn_main {
}

.signIn_row {
}

.signIn_col {
}

#screen_name {
}

.alreadyTaken {
    color: red;
    font-style: italic;
    font-size: 0.75em;
    text-align: center;
    display: none;   
}

.game {
    display: none;
}

.userboard {
    height: 21em;
    border: 0.1em black dotted;
}

.userboard_headline {
    font-weight: bold;
    font-size: 1.0em;
    text-align: center;
    padding-top: 1em;
}

.users {
    height: 10em;
    overflow-y: scroll;
    margin: 1em;
    font-size: 0.75em;
    text-align: center;
    border-bottom: 1px solid blue;
}

.drawboard {
    text-align: center;
}


canvas {
    width: 21em;
    height: 21em;
    border: 1px #C7CACD solid;
    display: block;
    margin: 0 auto;
    background-color: white;
    -moz-box-shadow:    1px 1px 1px 2px #C7CACD;
    -webkit-box-shadow: 1px 1px 1px 2px #C7CACD;
    box-shadow:         1px 1px 1px 2px #C7CACD;
}

.info {
   text-align: center; 
}

.drawing {  
}

.drawer {
}

.winner {
    display: none;
}

.winner_user {
}

.winner_answer {
}

.next_game {
    margin: 1em;
    font-weight: bold;
    font-style: italic;
}


.guessboard {
    height: 21em;
    border: 0.1em black dotted;
    text-align: center;
}

.user_info {
    padding-top: 1em;
    border-bottom: 0.1em black dotted;
}

.user_info_name {
    font-weight: bold;
}

.user_info_score {
   margin: 1em; 
}

.userScore {  
}

.user_action {
    padding: 1em;
    text-align: center;
    border-bottom: 0.1em black dotted;
}

#guessTemplate {
}

.guess_text {
    color: red;
    font-size: 0.75em;
}

#clueTemplate {
    display: none;
}

.guess_board {
    padding-top: 1em; 
}

.guesses {
    overflow-y: scroll;
    height: 5.5em;
    margin-top: 0.5em; 
}






