* {
    box-sizing: border-box;
}

body {
    color: #1E2835;
    background-color: #F8F8F8;
    font-size: 1.5em;
}

.game {
    display: none;
}

.signIn {
/*    display: none;
*/}


h1 {
    background-color: #9ABBFF;
    margin:  0 0 20px 0;
    padding: 20px;
    text-align: center;
}

#top-message {
    text-align: center;
    padding: 10px;
}

.drawboard {
/*    border: 1px red solid;
*/}

canvas {
    width: 700px;
    height: 500px;
    border: 1px #C7CACD solid;
    display: block;
    margin: 0 auto;
}

.alreadyTaken {
    color: red;
    font-style: italic;
    font-size: 0.75em;
    text-align: center;
    display: none;
}

.guessboard {
/*    border: 1px blue solid;
*/    text-align: center;
}

.guess_text {
    color: blue;
}

.user_info {
    -moz-box-shadow:    1px 1px 1px 2px #C7CACD;
    -webkit-box-shadow: 1px 1px 1px 2px #C7CACD;
    box-shadow:         1px 1px 1px 2px #C7CACD;
}

#guess {
    padding: 1em;
}